---
- name: prolauno playbook
  hosts: vagrantproaluno
  become: yes

  tasks:

    - name: Aplica role fflch.tasks 
      include_role:
        name: fflch.tasks

    - name: proaluno role
      include_role:
        name: fflch.proaluno
      vars:
        proaluno_install_pacotes_debian: False
        proaluno_deploy_printers: True
        proaluno_install_mate: True
        proaluno_remove_all_printers: True
        proaluno_update_keys: True
        proaluno_cups_server: "ipp://192.168.8.43:631/printers"
        proaluno_sala: "proaluno_dev_"
        proaluno_ntp_servers:
          - 192.168.8.48
        proaluno_printers:
          - name: impressora
            device: "{{ proaluno_cups_server }}/proaluno_gh_ppd"
            model: 'K7600_processado_gstopdf17.ppd'

    - name: Configura resolv.conf para consultar DNSs do firstdc dev
      include_role:
        name: blackstar257.resolv
      vars:
        resolv_conf_nameservers:
          - 192.168.8.48
        resolv_conf_search_domains:
          - "smbdomain.local.br"

    - name: fflch.domain-member
      include_role:
        name: fflch.domain-member
      vars:
        domain_member_realm: "smbdomain.local.br"
        domain_member_password: "SuperSenh@1"